/* HEADER */
@font-face { font-family: Q; src: url(quantify.ttf); }
@font-face { font-family: A; src: url(avenir.otf); }
@font-face { font-family: AR; src: url(avenir-regular.otf); }
.header {
	position: absolute;
	width: 100%;
	height: 8%;
	overflow-y: hidden;
	top: 0;
	left: 0;
	font-family: AR;
	color: white;
	background: #004D7F;
}
.leftMenu, .centerImage, .rightMenu{
	float: left;
	height: 100%;
}
.leftMenu, .rightMenu{
	width: 10%;
	margin: 0px auto;
	padding: 1.5%;
}
.centerImage{
	width: 74%;
	text-align: center;
}
.title {
	background: #004D7F;
	height: 100%;
	width: 93%;
	float: left;
	position: relative;
	text-align: right;
	padding: 5px;
	font-size: 24px;
	font-weight: lighter;
}
.cricos {
	background: #00A2FF;
	float: left;
	font-weight: bolder;
	font-size: 12px;
	padding: 5px;
	height: 100%;
	text-align: right;
}

/* Page */
.page {
	position: absolute;
	top: 15%;
	padding-top: 20px;
	width: 99%;
}
.tabs {
	margin: auto 150px;
}
.tab-title-1,
.tab-title-2,
.tab-title-3,
.tab-title-4,
.tab-title-5 {
	font-family: Q;
	color: white;
	padding: 15px;
	font-size: 17px;
	padding-top: 20px;
}
.lightblue {
	color: #00A2FF;
}
.tab-title-1,
.tab-title-3,
.tab-title-5 {
	background: #004D7F;
}
.tab-title-2,
.tab-title-4 {
	background: #00A2FF;
}
.tab-content-1,
.tab-content-2 {
	display: none;
}
h3 {
	color: #004D7F;
	font-family: Q;
	font-size: 17px;
}
h4 {
	color: #00A2FF;
	font-size: 17px;
	font-family: AR;
	text-align: right;
	font-weight: bolder;
}
.hor-line {
	background: black;
	width: 100%;
	min-height: 2px;
}
ul {
	color: #00A2FF;
	list-style: none;
	font-family: AR;
	padding: 0px;
}
li {
	border-bottom: 1px solid gray;
	padding: 10px;
}
